<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            background-color: brown;
            color: white;
            text-align: center;
        }
        p{
            text-align: center;
            background-color: green;
            color: white;
        }
        li{
            font-size: 30px;
            color: white;
            background-color: green;
            margin-top: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Welcome to My Flask App</h1>
    <p><b>This is a simple Flask app.</b></p>
    <br><hr><br>
    <h1>Names</h1>
    <ul>
        {% for name in names %}
        <li>{{name}}</li>
        {% endfor %}
    </ul>
</body>
</html>